<!DOCTYPE html>
<html>
   	<head>
      	<meta charset = "ISO-8859-1" />
      	
      	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
      	<script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
      	<title>Shadowrun Tool</title>
      	<style>
			  .navbar{
			  	background-color: #323232;
			  }
			  .box {
				border-color: black;
				border-width: 2px;
				border-style: solid;
			  }
			  .box-head {
			  	background-color: black;
			  	text-decoration-color: white;
			  	text-align: center;
			  	color: white;
			  }
		  </style>
   	</head>
   	<body>
		<header class="navbar navbar-expand-lg bd-navbar sticky-top">
  			<nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap" aria-label="Main navigation">
      			<div class="d-lg-none" style="width: 1.5rem;"></div>
    			<a class="navbar-brand p-0 me-0 me-lg-2" href="/" aria-label="Shadowrun">
      				Home
    			</a>
  			</nav>
		</header>
      	<h4>Welcome to Shadowrun Tool</h4>
      	<main class="bd-content order-1 py-5" id="content">
    		<div class="container-xxl bd-gutter gx-5">
				<div class="row">
					<div class="col" style="max-width:10px; width:10px;"></div>
					<div class="col-6 box">
						<div class="box-head" style="margin-left: -14px; margin-right: -14px;">Prioritätsauswahl</div>
						<div class="row">
							<div class="col-3">Rasse</div>
						</div>
						<div class="row">
							<div class="col-3">
								<span th:fragment="dropdown">
									<select class="form-control custom-select" th:id="${dropdownId}"  th:value="${dropdownValue}">
		    							<option th:if="${mitNullOptoin}" value="0" th:text="${optionNullText}">Bitte ausw$auml;hlen</option>
		    							<option th:each="option : ${optionen}" th:value="${option.value}" th:text="${option.text}"></option>
									</select>
									<script th:inline="javascript" type = "text/javascript" language = "javascript">
									/*<![CDATA[*/
										$.ajaxSetup({
										  contentType: "application/json; charset=utf-8"
										});
										$(document).ready(function() {
											var id = /*[[${dropdownId}]]*/ 
								            $('#' + id).each(function(index, element){
												$(element).change(function(event) {
													var url = /*[[@{/change}]]*/
													$.post(url, JSON.stringify({
													    id: $(element).attr('id'),
													    value: $(element).val() == null ? "test" : $(element).val()
													  }), function(data, status){
														  	$.each(data, function(index, element) {
																var targetId = element.id;
																$('#' + targetId).text(element.value);
															});
													});
												});
											});
								         });
									/*]]>*/
									</script>
								</span>
							</div>
						</div>
					</div>
				</div>
    		</div>
      	</main>
  
      	
      	
		<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
   	</body>

</html>