<!DOCTYPE html>
<html>
   	<head>
      	<meta charset = "ISO-8859-1" />
      	
      	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
      	<title>Shadowrun Tool</title>
      	<style>
			  .navbar{
			  	background-color: #323232;
			  }
			  .box {
				border-color: black;
				border-width: 2px;
				border-style: solid;
			  }
			  .box-head {
			  	background-color: black;
			  	text-decoration-color: white;
			  	text-align: center;
			  	color: white;
			  }
		  </style>
		<script th:src:"@{/stomp.min.js}"></script>
		<script th:inline="javascript" type = "text/javascript" language = "javascript">
			var url = /*[[@{/websocket}]]*/
			url = url.replace("http://", "ws://");
			url = url.replace("https://", "ws://"); 
			const stompClient = new StompJs.Client({
   	 				brokerURL: url
				});
			stompClient.onWebSocketError = (error) => {
    				console.error('Error with websocket', error);
				};
			stompClient.onStompError = (frame) => {
    				console.error('Broker reported error: ' + frame.headers['message']);
    				console.error('Additional details: ' + frame.body);
				};
			stompClient.activate();
		</script>
   	</head>
   	<body>
		<header class="navbar navbar-expand-lg bd-navbar sticky-top">
  			<nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap" aria-label="Main navigation">
      			<div class="d-lg-none" style="width: 1.5rem;"></div>
    			<a class="navbar-brand p-0 me-0 me-lg-2" href="/" aria-label="Shadowrun">
      				Home
    			</a>
  			</nav>
		</header>
      	<h4>Welcome to Shadowrun Tool</h4>
      	<main class="bd-content order-1 py-5" id="content">
    		<div class="container-xxl bd-gutter gx-5">
				<a th:href="@{/erstellung}" class="btn btn-primary">Erstelle neuen Charakter</a>
    		</div>
      	</main>
  
      	
      	
		<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
   	</body>

</html>